# Understand how to clean the data

The goal of this notebook is to analyze the Nan values of the dataset. We proposed a smaller subset of the data by deleting the columns, however we did it again later on. Again there are a lot of Markdowns that should be enough to understand what is happening, and what we are trying to achieve.

In [90]:
import os
import pandas as pd
from pathlib import Path

In [91]:
root = Path(os.getcwd()).parent.parent

#Change for each one of where your data is. For me in Dataset I have all the three folders
parent_directory = os.path.dirname(root)
dataset_path = os.path.join(root,'Dataset')

ADVOCATE = "advocate"
RATEBEER = "ratebeer"
MATCHED = "matched"

ADVOCATE_PATH = os.path.join(dataset_path,ADVOCATE)
RATEBEER_PATH = os.path.join(dataset_path,RATEBEER)
MATCHED_PATH = os.path.join(dataset_path,MATCHED)

Giving time needed to load data of ratings:
- ratings advocate: 3min11 -> 2.9 Go
- ratings matched: 1.1s -> 26 Mo
- ratings ratebeer: 3min 44 -> 2.8 Go

In [4]:
ratings_advocate = pd.read_csv(os.path.join(ADVOCATE_PATH,'ratings-advocate.csv'))

In [5]:
ratings_matched = pd.read_csv(os.path.join(MATCHED_PATH,'ratings.csv'), header=1)#low mememory = False ou specify dtype

In [6]:
ratings_ratebeer = pd.read_csv(os.path.join(RATEBEER_PATH,'ratings.csv'))

Now let's look at all the columns present in the three datasets and try to sort them for our needs.

In [7]:
ratings_advocate.sample(5)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review
4215303,Abbey Belgian Style Ale,1912,New Belgium Brewing,192,Dubbel,7.0,1321441200,orangesol,orangesol.401018,NaN,NaN,NaN,NaN,NaN,4.00,NaN,False
1072390,Miller Lite Ice,2908,Miller Brewing Co.,105,Light Lager,5.5,1372932000,erialbill,erialbill.723482,NaN,NaN,NaN,NaN,NaN,2.00,NaN,False
7208515,Fresh Squeezed IPA,60330,Deschutes Brewery,63,American IPA,6.4,1429351200,Andnkuhn,andnkuhn.901120,4.50,4.75,4.50,4.75,4.75,4.71,one of my favorite IPAs. a MUST try.,False
5921936,Hawaiian King,231521,Foley Brothers Brewing,30542,American Double / Imperial Stout,9.5,1478862000,whatsgoody,whatsgoody.703693,4.25,4.25,4.25,4.25,4.25,4.25,NaN,False
8354172,Creekside Double Dark Stout,67310,Creekside Brewing Company,19202,American Stout,7.6,1378029600,I_heart_beer,i_heart_beer.746005,NaN,NaN,NaN,NaN,NaN,3.50,NaN,False

In [8]:
ratings_ratebeer.sample(5)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text
4244273,Carsons Harry Porter,268638,Carsons Brewery,17489,Porter,NaN,1417086000,Dfonorow,91674,3,7,3,6,13,3.2,On tap @ FoBAB 2014. Pour is hazy brown with a...
6439136,Triple Moine,5383,Brasserie Du Bocq,862,Abbey Tripel,7.3,1212573600,travita,48824,3,6,3,6,12,3.0,Yellow to golden in color with a light lacy he...
6073916,Samuel Smiths Winter Welcome Ale,95,Samuel Smith,17,English Strong Ale,6.0,1146823200,GRM,32325,3,5,3,6,16,3.3,"Clear bottle, 550 ml, 2003-2004; eye: amber, s..."
6569002,De Ryck Kriek Fantastiek,39391,Brouwerij De Ryck,3093,Fruit Beer,4.9,1198062000,rederic,18236,3,6,2,6,12,2.9,"Hazy reddish brown hue, with a frothy beige he..."
5030539,Atwater Decadent Dark Chocolate Ale,165424,Atwater Brewery,6832,Porter,5.5,1415185200,nearbeer,48884,3,7,4,7,15,3.6,Pint on tap. Dark chocolate brown but nearly t...

In [9]:
ratings_matched.columns

Index(['abv', 'appearance', 'aroma', 'beer_id', 'beer_name', 'brewery_id',
       'brewery_name', 'date', 'overall', 'palate', 'rating', 'review',
       'style', 'taste', 'text', 'user_id', 'user_name', 'abv.1',
       'appearance.1', 'aroma.1', 'beer_id.1', 'beer_name.1', 'brewery_id.1',
       'brewery_name.1', 'date.1', 'overall.1', 'palate.1', 'rating.1',
       'style.1', 'taste.1', 'text.1', 'user_id.1', 'user_name.1'],
      dtype='object')

| Attribute| Advocate | Matched  | Ratebeer | Present in 3| Interest |
|----------|----------|----------|----------|----------|----------|
| style    |    yes   |    yesx2      |    yes      |    yes      |    maybe      |
| abv      |    yes   |    yesx2      |   yes       |    yes      |    maybe      |
| date    |    yes   |     yesx2     |    yes      |    yes      |    maybe      |
| appearance    |    yes      |    yesx2      |     yes     |    yes      |     yes     |
| aroma    |    yes      |    yesx2      |   yes       |   yes       |    yes      |
| palate    |    yes      |    yesx2      |     yes     |    yes      |   yes       |
| taste    |    yes      |    yesx2      |    yes      |    yes      |   yes       |
| overall    |   yes       |   yesx2       |   yes       |   yes       |    yes      |
| rating    |    yes      |    yesx2      |   yes       |    yes      |    yes      |
| text   |    yes      |    yesx2      |    yes      |    yes      |    yes      |
| review   |    yes      |     yes     |    no      |    no      |    maybe      |



In this table we do not care about the beer/user/brewery name/id etc...
Advocate and ratebeer dataset provide us with a review dataset which contains only the text. Furthermore advocate_ba and rb contain also the same attributes.

Now let's look at which column can contain nan values.

In [41]:
for i,attribute in enumerate(ratings_matched.columns):
    nan_ratings = ratings_matched[ratings_matched[attribute].isna()]
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(ratings_matched),"->",len(nan_ratings)/len(ratings_matched)*100,"%")

Number of Nan values for  abv : 0 / 21964 -> 0.0 %
Number of Nan values for  appearance : 2669 / 21964 -> 12.15170278637771 %
Number of Nan values for  aroma : 2669 / 21964 -> 12.15170278637771 %
Number of Nan values for  beer_id : 0 / 21964 -> 0.0 %
Number of Nan values for  beer_name : 0 / 21964 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 21964 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 21964 -> 0.0 %
Number of Nan values for  date : 0 / 21964 -> 0.0 %
Number of Nan values for  overall : 2669 / 21964 -> 12.15170278637771 %
Number of Nan values for  palate : 2669 / 21964 -> 12.15170278637771 %
Number of Nan values for  rating : 0 / 21964 -> 0.0 %
Number of Nan values for  review : 0 / 21964 -> 0.0 %
Number of Nan values for  style : 0 / 21964 -> 0.0 %
Number of Nan values for  taste : 2669 / 21964 -> 12.15170278637771 %
Number of Nan values for  text : 3686 / 21964 -> 16.782006920415224 %
Number of Nan values for  user_id : 0 / 21964 -> 0.0 %
Number of Nan values for  user_name : 0 / 21964 -> 0.0 %
Number of Nan values for  abv.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  appearance.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  aroma.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  beer_id.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  beer_name.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  brewery_id.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  brewery_name.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  date.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  overall.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  palate.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  rating.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  style.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  taste.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  text.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  user_id.1 : 0 / 21964 -> 0.0 %
Number of Nan values for  user_name.1 : 0 / 21964 -> 0.0 %

In [39]:
for i,attribute in enumerate(ratings_advocate.columns):
    nan_ratings = ratings_advocate[ratings_advocate[attribute].isna()]
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(ratings_advocate),"->",len(nan_ratings)/len(ratings_advocate)*100,"%")

Number of Nan values for  beer_name : 0 / 8393032 -> 0.0 %
Number of Nan values for  beer_id : 0 / 8393032 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 8393032 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 8393032 -> 0.0 %
Number of Nan values for  style : 0 / 8393032 -> 0.0 %
Number of Nan values for  abv : 171305 / 8393032 -> 2.041038327984452 %
Number of Nan values for  date : 0 / 8393032 -> 0.0 %
Number of Nan values for  user_name : 31 / 8393032 -> 0.0003693540069905607 %
Number of Nan values for  user_id : 0 / 8393032 -> 0.0 %
Number of Nan values for  appearance : 3623357 / 8393032 -> 43.17101376475152 %
Number of Nan values for  aroma : 3623357 / 8393032 -> 43.17101376475152 %
Number of Nan values for  palate : 3623357 / 8393032 -> 43.17101376475152 %
Number of Nan values for  taste : 3623357 / 8393032 -> 43.17101376475152 %
Number of Nan values for  overall : 3623357 / 8393032 -> 43.17101376475152 %
Number of Nan values for  rating : 0 / 8393032 -> 0.0 %
Number of Nan values for  text : 5677323 / 8393032 -> 67.64329029127973 %
Number of Nan values for  review : 0 / 8393032 -> 0.0 %

In [40]:
for i,attribute in enumerate(ratings_ratebeer.columns):
    nan_ratings = ratings_ratebeer[ratings_ratebeer[attribute].isna()]
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(ratings_ratebeer),"->",len(nan_ratings)/len(ratings_ratebeer)*100,"%")

Number of Nan values for  beer_name : 0 / 7122074 -> 0.0 %
Number of Nan values for  beer_id : 0 / 7122074 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 7122074 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 7122074 -> 0.0 %
Number of Nan values for  style : 0 / 7122074 -> 0.0 %
Number of Nan values for  abv : 174984 / 7122074 -> 2.4569247665778255 %
Number of Nan values for  date : 0 / 7122074 -> 0.0 %
Number of Nan values for  user_name : 0 / 7122074 -> 0.0 %
Number of Nan values for  user_id : 0 / 7122074 -> 0.0 %
Number of Nan values for  appearance : 0 / 7122074 -> 0.0 %
Number of Nan values for  aroma : 0 / 7122074 -> 0.0 %
Number of Nan values for  palate : 0 / 7122074 -> 0.0 %
Number of Nan values for  taste : 0 / 7122074 -> 0.0 %
Number of Nan values for  overall : 0 / 7122074 -> 0.0 %
Number of Nan values for  rating : 0 / 7122074 -> 0.0 %
Number of Nan values for  text : 448 / 7122074 -> 0.006290302515812108 %

In [13]:
ratings_matched[ratings_matched.isna().any(axis=1)].sample(5)

,abv,appearance,aroma,beer_id,beer_name,brewery_id,brewery_name,date,overall,palate,...,brewery_name.1,date.1,overall.1,palate.1,rating.1,style.1,taste.1,text.1,user_id.1,user_name.1
13635,6.0,3.00,4.0,199266,One In The Tree,19866,Upright Brewing Company,1457348400,4.00,4.00,...,Upright Brewing,1457262000,16.0,4.0,3.9,Saison,8.0,"Bouteille 750ml, bottle share. Couleur dorÃ©e ...",188026,Whatup14
8567,5.5,3.75,3.5,78687,Sasuga Saison,26439,Oxbow Brewing Company,1473415200,3.75,3.75,...,Oxbow Brewing Company,1473328800,15.0,3.0,3.5,Saison,7.0,birricio volo takeover with Tim the brewer.sou...,11905,Sammy
21663,6.2,NaN,NaN,72824,Savannah Brown Ale,26714,Coastal Empire Beer Co.,1358766000,NaN,NaN,...,Coastal Empire Beer Co.,1315648800,17.0,4.0,4.0,Brown Ale,8.0,Tried this beer at Mellow Mushroom Savannah. ...,135290,riverrat
17961,6.0,NaN,NaN,58840,Allagash Coolship Resurgam,4,Allagash Brewing Company,1390906800,NaN,NaN,...,Allagash Brewing Company,1359889200,16.0,3.0,3.7,Lambic Style - Gueuze,7.0,"Got this one at the brewery, enjoyed as part o...",229306,devman171
21962,6.5,3.00,3.0,127162,Redenaar,32560,Brouwerij d'Oude Maalderij,1419764400,3.00,2.75,...,dOude Maalderij,1397037600,17.0,3.0,3.9,Belgian Ale,8.0,This is the first blond ale from this brewery....,276666,simoen

In [14]:
ratings_advocate[ratings_advocate.isna().any(axis=1)].sample(5)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review
7052368,American Amber Ale,363,Rogue Ales,132,American Amber / Red Ale,5.3,1408269600,Huffs,huffs.706805,NaN,NaN,NaN,NaN,NaN,4.00,NaN,False
6909000,"Rail, La Spar",266514,Dark Horse Brewing Company,1471,American Stout,8.5,1487329200,dtm426,dtm426.841103,4.00,3.75,4.00,3.75,4.00,3.84,NaN,False
1914961,Gifted Branch,245392,The Rare Barrel,33018,American Wild Ale,6.7,1491732000,newbeeraday,newbeeraday.797609,4.25,4.25,4.25,4.25,4.25,4.25,NaN,False
2669148,Orchard White,42433,The Bruery,16866,Witbier,5.7,1333274400,logicalparadox,logicalparadox.637219,NaN,NaN,NaN,NaN,NaN,3.75,NaN,False
6762270,Flying Buffalo Bourbon Barrel Aged Imperial Stout,165810,Griffin Claw Brewing Company,32166,Russian Imperial Stout,12.0,1481540400,fern22,fern22.1183578,4.00,4.00,4.00,4.00,4.25,4.05,NaN,False

In [15]:
ratings_ratebeer[ratings_ratebeer.isna().any(axis=1)].sample(5)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text
4533256,Bricktown Munich Dunkel,19941,Bricktown Brewery / Blackwater Grill,3248,Dunkel/Tmavý,NaN,1176458400,jpm30,28003,2,2,1,1,1,0.7,Crayon brown color with a tiny head that disap...
2739616,Tyranena Bleached Blonde Ale,48320,Tyranena Brewing,663,Golden Ale/Blond Ale,NaN,1119607200,hezron,18919,2,4,2,5,8,2.1,"On tap at the brewery. Light aroma, with very..."
3240414,Pizza Port Hopdouken,367127,Pizza Port &#40;San Clemente&#41;,3871,India Pale Ale (IPA),NaN,1445943600,brokensail,96974,4,6,4,6,12,3.2,On tap @ Provisions Market. Hazed orange pour ...
2747989,J.T. Whitneys Mad Badger Barley Wine,3899,J.T. Whitneys Pub & Brewery,665,Barley Wine,NaN,1096884000,badgerben,5628,4,7,3,8,16,3.8,Murky iron color with no head. Monster barley...
3749442,Plan Bee Comb,284431,Plan Bee Farm Brewery,18300,Sour/Wild Ale,NaN,1468404000,teorn88,81829,3,8,3,8,18,4.0,"500cl bottle shared at the July CW tasting, Lo..."

There is always a rating. Sometimes abv is missing. Appearance, aroma, palate, taste, overall may be missing for advocate but they would be missing for all at once. The next line test confirms this theory.

In [22]:
attributes = ['appearance', 'aroma', 'palate', 'taste', 'overall']
nan_count = ratings_advocate[attributes].isna().all(axis=1).sum()
print("Number of rows with NaN in all specified columns: ", nan_count)

Number of rows with NaN in all specified columns:  3623357

Small parenthesis we just want to check the values of the ratings for both datasets:

In [ ]:
attributes_to_test = ['abv','appearance', 'aroma', 'palate', 'taste', 'overall','rating']
for i,attribute in enumerate(attributes_to_test):
    max_value_ad = ratings_advocate[attribute].max()
    min_value_ad = ratings_advocate[attribute].min()
    max_value_rb = ratings_ratebeer[attribute].max()
    min_value_rb = ratings_ratebeer[attribute].min()
    print("\nMin and max value for ", attribute, ":")
    print("-advocate: ", int(min_value_ad),"/",int(max_value_ad))
    print("-ratebeer: ", min_value_rb,"/",max_value_rb)

Min and max value for  abv :
-advocate:  0 / 67
-ratebeer:  0.01 / 73.0

Min and max value for  appearance :
-advocate:  1 / 5
-ratebeer:  1 / 5

Min and max value for  aroma :
-advocate:  1 / 5
-ratebeer:  1 / 10

Min and max value for  palate :
-advocate:  1 / 5
-ratebeer:  1 / 5

Min and max value for  taste :
-advocate:  1 / 5
-ratebeer:  1 / 10

Min and max value for  overall :
-advocate:  1 / 5
-ratebeer:  1 / 20

Min and max value for  rating :
-advocate:  1 / 5
-ratebeer:  0.5 / 5.0

In [33]:
total_len = len(ratings_ratebeer)+len(ratings_advocate)
print("In total we have", total_len,"comments to treat:",len(ratings_ratebeer)," are coming from ratebeer (",len(ratings_ratebeer)/total_len*100,"%)and", len(ratings_advocate),"from advocate (", len(ratings_advocate)/total_len*100,"%)")

In total we have 15515106 comments to treat: 7122074  are coming from ratebeer ( 45.90412724218578 %)and 8393032 from advocate ( 54.09587275781422 %)

**BEER**

For our project we are also interested into the beer dataset:

In [92]:
beers_matched = pd.read_csv(os.path.join(MATCHED_PATH,'beers.csv'),header=1)
beers_advocate = pd.read_csv(os.path.join(ADVOCATE_PATH,'beers.csv'))
beers_ratebeer = pd.read_csv(os.path.join(RATEBEER_PATH,'beers.csv'))

In [35]:
beers_advocate.sample(5)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
278395,65210,Pale Ale,21138,Growler Craft Brewery,American Pale Ale (APA),1,1,3.26,NaN,NaN,5.8,3.260000,NaN,0,NaN
244527,26161,Willimantic Jack Daniels Barrel Aged Willi Wha...,477,Willimantic Brewing Co.,English Barleywine,3,2,3.99,NaN,NaN,10.9,3.740000,NaN,0,NaN
242342,281259,Right Me Up,38674,No Worries Brewing Company,American Double / Imperial IPA,2,1,4.04,NaN,NaN,8.0,4.110000,0.238606,1,4.0
137956,115501,Biere De Mars-Di Gras,31920,FATE Brewing Company,Bière de Garde,2,0,3.50,NaN,NaN,7.1,3.500000,NaN,0,NaN
115016,89139,Hogshead Red,22200,Wormtown Brewery,American Amber / Red Ale,31,3,3.87,85.0,NaN,6.5,3.863871,NaN,0,NaN

In [36]:
beers_ratebeer.sample(5)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,overall_score,style_score,avg,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
69119,503617,BRLO Double IPA,21188,BRLO,Imperial IPA,5,NaN,NaN,3.41,7.5,3.780000,NaN,0,NaN
209899,360481,Broken Bow Loquat (Red Wine Barrel Aged),17695,Broken Bow Brewery,Sour/Wild Ale,2,NaN,NaN,3.04,NaN,3.250000,NaN,0,NaN
247430,70129,North Country Amarillo Pale Ale,5729,North Country Brewing Company,American Pale Ale,1,NaN,NaN,2.81,NaN,2.900000,NaN,0,NaN
200695,214819,Banner American Rye,16812,Banner Beer Company,Brown Ale,9,NaN,NaN,3.10,4.5,3.177778,NaN,0,NaN
419758,161793,Buntingford Imperial Black Ale,4849,Buntingford,Black IPA,5,NaN,NaN,3.03,5.8,3.380000,NaN,0,NaN

In [47]:
beers_matched.sample(5)

,abv,avg,avg_computed,avg_matched_valid_ratings,ba_score,beer_id,beer_name,beer_wout_brewery_name,brewery_id,brewery_name,...,brewery_id.1,brewery_name.1,nbr_matched_valid_ratings.1,nbr_ratings.1,overall_score,style.1,style_score,zscore.1,diff,sim
22985,9.0,4.25,4.250000,NaN,NaN,225295,Elephant Gun,Elephant Gun,41719,Cerebral Brewing,...,25172,Cerebral Brewing,4,4,NaN,Imperial Stout,NaN,-0.047107,1.000000,1.0
316,5.0,3.58,3.664286,3.531667,83.0,120882,The Ridge,The Ridge,323,Harviestoun Brewery Ltd.,...,1560,Harviestoun,148,148,48.0,American Pale Ale,42.0,-0.446145,0.744211,1.0
28040,5.0,NaN,NaN,NaN,NaN,233820,Kiwi Weiss,Kiwi Weiss,43482,Vanish Beer,...,26821,Vanish,2,2,NaN,German Hefeweizen,NaN,-0.239896,0.525119,1.0
35054,5.0,3.52,3.520000,NaN,NaN,219526,Helles Lager,Lager Helles,36789,Concrete Beach Brewery,...,21037,Concrete Beach Brewery,2,2,NaN,Dortmunder/Helles,NaN,-1.318453,0.588661,1.0
5577,5.4,3.60,3.600000,NaN,NaN,290392,Trainspotter,Trainspotter,26851,Junction Craft Brewing,...,13424,Junction Craft Brewing,1,1,NaN,Dortmunder/Helles,NaN,-0.606194,1.000000,1.0

Again let's look at the percentage of Nan values in the different columns. It may be usefull later.

In [ ]:
drop_advocate = []
for i,attribute in enumerate(beers_advocate.columns):
    nan_ratings = beers_advocate[beers_advocate[attribute].isna()]
    percentage = len(nan_ratings)/len(beers_advocate)*100
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(beers_advocate),"->",percentage,"%")
    if percentage>20:  #Value to change for column deletion (used later)
        drop_advocate.append(attribute)

Number of Nan values for  beer_id : 0 / 280823 -> 0.0 %
Number of Nan values for  beer_name : 0 / 280823 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 280823 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 280823 -> 0.0 %
Number of Nan values for  style : 0 / 280823 -> 0.0 %
Number of Nan values for  nbr_ratings : 0 / 280823 -> 0.0 %
Number of Nan values for  nbr_reviews : 0 / 280823 -> 0.0 %
Number of Nan values for  avg : 32829 / 280823 -> 11.69028177891412 %
Number of Nan values for  ba_score : 219623 / 280823 -> 78.20691325140747 %
Number of Nan values for  bros_score : 275121 / 280823 -> 97.96953953201839 %
Number of Nan values for  abv : 36024 / 280823 -> 12.828009101818584 %
Number of Nan values for  avg_computed : 32841 / 280823 -> 11.69455493317855 %
Number of Nan values for  zscore : 240538 / 280823 -> 85.65466503812009 %
Number of Nan values for  nbr_matched_valid_ratings : 0 / 280823 -> 0.0 %
Number of Nan values for  avg_matched_valid_ratings : 252551 / 280823 -> 89.93244855300314 %

In [ ]:
drop_ratebeer =[]
for i,attribute in enumerate(beers_ratebeer.columns):
    nan_ratings = beers_ratebeer[beers_ratebeer[attribute].isna()]
    percentage = len(nan_ratings)/len(beers_ratebeer)*100
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(beers_ratebeer),"->",percentage,"%")
    if percentage>20:#Value to change for column deletion (used later)
        drop_ratebeer.append(attribute)

Number of Nan values for  beer_id : 0 / 442081 -> 0.0 %
Number of Nan values for  beer_name : 0 / 442081 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 442081 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 442081 -> 0.0 %
Number of Nan values for  style : 0 / 442081 -> 0.0 %
Number of Nan values for  nbr_ratings : 0 / 442081 -> 0.0 %
Number of Nan values for  overall_score : 338053 / 442081 -> 76.46856571533272 %
Number of Nan values for  style_score : 338013 / 442081 -> 76.45951759971588 %
Number of Nan values for  avg : 46424 / 442081 -> 10.501242984882861 %
Number of Nan values for  abv : 42094 / 442081 -> 9.521784469361949 %
Number of Nan values for  avg_computed : 45391 / 442081 -> 10.26757539907845 %
Number of Nan values for  zscore : 399853 / 442081 -> 90.4479043433217 %
Number of Nan values for  nbr_matched_valid_ratings : 0 / 442081 -> 0.0 %
Number of Nan values for  avg_matched_valid_ratings : 399853 / 442081 -> 90.4479043433217 %

In [ ]:
drop_matched = []
for i,attribute in enumerate(beers_matched.columns):
    nan_ratings = beers_matched[beers_matched[attribute].isna()]
    percentage = len(nan_ratings)/len(beers_matched)*100
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(beers_matched),"->",percentage,"%")
    if percentage>20: #Value to change for column deletion (used later)
        drop_matched.append(attribute)

Number of Nan values for  abv : 0 / 45640 -> 0.0 %
Number of Nan values for  avg : 5355 / 45640 -> 11.733128834355828 %
Number of Nan values for  avg_computed : 5355 / 45640 -> 11.733128834355828 %
Number of Nan values for  avg_matched_valid_ratings : 17368 / 45640 -> 38.054338299737076 %
Number of Nan values for  ba_score : 35141 / 45640 -> 76.99605609114812 %
Number of Nan values for  beer_id : 0 / 45640 -> 0.0 %
Number of Nan values for  beer_name : 0 / 45640 -> 0.0 %
Number of Nan values for  beer_wout_brewery_name : 0 / 45640 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 45640 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 45640 -> 0.0 %
Number of Nan values for  bros_score : 44913 / 45640 -> 98.40709903593338 %
Number of Nan values for  nbr_matched_valid_ratings : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_ratings : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_reviews : 0 / 45640 -> 0.0 %
Number of Nan values for  style : 0 / 45640 -> 0.0 %
Number of Nan values for  zscore : 5355 / 45640 -> 11.733128834355828 %
Number of Nan values for  abv.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  avg.1 : 3485 / 45640 -> 7.635845749342682 %
Number of Nan values for  avg_computed.1 : 3412 / 45640 -> 7.47589833479404 %
Number of Nan values for  avg_matched_valid_ratings.1 : 3412 / 45640 -> 7.47589833479404 %
Number of Nan values for  beer_id.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  beer_name.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  beer_wout_brewery_name.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  brewery_id.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  brewery_name.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_matched_valid_ratings.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_ratings.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  overall_score : 29942 / 45640 -> 65.60473269062226 %
Number of Nan values for  style.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  style_score : 29942 / 45640 -> 65.60473269062226 %
Number of Nan values for  zscore.1 : 3412 / 45640 -> 7.47589833479404 %
Number of Nan values for  diff : 0 / 45640 -> 0.0 %
Number of Nan values for  sim : 0 / 45640 -> 0.0 %

| Attribute| Advocate | Matched  | Ratebeer | Present in 3| Interest |
|----------|----------|----------|----------|----------|----------|
| style    |    yes   |    yesx2      |    yes      |    yes      |    yes      |
| abv      |    yes   |    yesx2      |   yes       |    yes      |    yes      |
| nbr_ratings    |    yes   |     yesx2     |    yes      |    yes      |    yes      |
| nbr_reviews    |    yes      |    yes      |     no     |    no      |     yes     |
|overall score | no | yes | yes | no | yes |
|style score | no | yes | yes | no | yes |
| average    |    yes      |    yesx2      |   yes       |   yes       |    yes      |
| ba_score    |    yes      |    yes      |     no     |    no      |   yes       |
| bros_score    |    yes      |    yes      |    no      |    no      |   yes       |
| avg     |   yes       |   yesx2       |   yes       |   yes       |    yes      |
| avg_computed     |   yes       |   yesx2       |   yes       |   yes       |    yes      |
| zscore     |    yes      |    yesx2      |   yes       |    yes      |    yes      |
| nbr_matched_valid_ratings    |    yes      |    yesx2      |    yes      |    yes      |    yes      |
| avg_matched_valid_ratings    |    yes      |     yesx2     |    yes      |    yes      |    yes      |

Since ba_score, bros_score, z_score, avg_valid_ratings_matched,overall_score, style_score  have a high percentage of Nan Values we decided to delete the full column. If needed we may recompute them later for our own needs.

In [ ]:
#Comment out for your needs. One sets the columns to delete, the other takes the columns to delete based on a threshold, it was computed in the cell above. 
# The lines with the threshold have a comment. The value is quite low but in the end we never used those cleaned files. Instead we chose in merge_into_onedataset which columns to use or not.



#drop_advocate = ['ba_score','bros_score','zscore','avg_matched_valid_ratings']
#drop_ratebeer = ['overall_score','zscore','avg_matched_valid_ratings', 'style_score']
#drop_matched = ['ba_score','bros_score','zscore','avg_matched_valid_ratings', 'style_score', 'overall_score','zscore.1','avg_matched_valid_ratings.1']
#We can use drop matched with added columns because we droped avg_matched_valid_ratings and zscore in both datasets so droping it here would be an option. (But t his can be later changed by uncommenting the previous line).
beers_advocate_clean = beers_advocate.drop(columns=drop_advocate)
beers_matched_clean = beers_matched.drop(columns=drop_matched)
beers_ratebeer_clean = beers_ratebeer.drop(columns=drop_ratebeer)

In [98]:
for i,attribute in enumerate(beers_advocate_clean.columns):
    nan_ratings = beers_advocate_clean[beers_advocate_clean[attribute].isna()]
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(beers_advocate_clean),"->",len(nan_ratings)/len(beers_advocate_clean)*100,"%")
for i,attribute in enumerate(beers_ratebeer_clean.columns):
    nan_ratings = beers_ratebeer_clean[beers_ratebeer_clean[attribute].isna()]
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(beers_ratebeer_clean),"->",len(nan_ratings)/len(beers_ratebeer_clean)*100,"%")
for i,attribute in enumerate(beers_matched_clean.columns):
    nan_ratings = beers_matched_clean[beers_matched_clean[attribute].isna()]
    print("Number of Nan values for ", attribute, ":", len(nan_ratings),"/",len(beers_matched_clean),"->",len(nan_ratings)/len(beers_matched_clean)*100,"%")

Number of Nan values for  beer_id : 0 / 280823 -> 0.0 %
Number of Nan values for  beer_name : 0 / 280823 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 280823 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 280823 -> 0.0 %
Number of Nan values for  style : 0 / 280823 -> 0.0 %
Number of Nan values for  nbr_ratings : 0 / 280823 -> 0.0 %
Number of Nan values for  nbr_reviews : 0 / 280823 -> 0.0 %
Number of Nan values for  avg : 32829 / 280823 -> 11.69028177891412 %
Number of Nan values for  abv : 36024 / 280823 -> 12.828009101818584 %
Number of Nan values for  avg_computed : 32841 / 280823 -> 11.69455493317855 %
Number of Nan values for  nbr_matched_valid_ratings : 0 / 280823 -> 0.0 %
Number of Nan values for  beer_id : 0 / 442081 -> 0.0 %
Number of Nan values for  beer_name : 0 / 442081 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 442081 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 442081 -> 0.0 %
Number of Nan values for  style : 0 / 442081 -> 0.0 %
Number of Nan values for  nbr_ratings : 0 / 442081 -> 0.0 %
Number of Nan values for  avg : 46424 / 442081 -> 10.501242984882861 %
Number of Nan values for  abv : 42094 / 442081 -> 9.521784469361949 %
Number of Nan values for  avg_computed : 45391 / 442081 -> 10.26757539907845 %
Number of Nan values for  nbr_matched_valid_ratings : 0 / 442081 -> 0.0 %
Number of Nan values for  abv : 0 / 45640 -> 0.0 %
Number of Nan values for  avg : 5355 / 45640 -> 11.733128834355828 %
Number of Nan values for  avg_computed : 5355 / 45640 -> 11.733128834355828 %
Number of Nan values for  beer_id : 0 / 45640 -> 0.0 %
Number of Nan values for  beer_name : 0 / 45640 -> 0.0 %
Number of Nan values for  beer_wout_brewery_name : 0 / 45640 -> 0.0 %
Number of Nan values for  brewery_id : 0 / 45640 -> 0.0 %
Number of Nan values for  brewery_name : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_matched_valid_ratings : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_ratings : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_reviews : 0 / 45640 -> 0.0 %
Number of Nan values for  style : 0 / 45640 -> 0.0 %
Number of Nan values for  zscore : 5355 / 45640 -> 11.733128834355828 %
Number of Nan values for  abv.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  avg.1 : 3485 / 45640 -> 7.635845749342682 %
Number of Nan values for  avg_computed.1 : 3412 / 45640 -> 7.47589833479404 %
Number of Nan values for  avg_matched_valid_ratings.1 : 3412 / 45640 -> 7.47589833479404 %
Number of Nan values for  beer_id.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  beer_name.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  beer_wout_brewery_name.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  brewery_id.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  brewery_name.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_matched_valid_ratings.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  nbr_ratings.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  style.1 : 0 / 45640 -> 0.0 %
Number of Nan values for  zscore.1 : 3412 / 45640 -> 7.47589833479404 %
Number of Nan values for  diff : 0 / 45640 -> 0.0 %
Number of Nan values for  sim : 0 / 45640 -> 0.0 %

For the needs of our project we need beers with a certain amount of ratings. For now we just want to keep it at 0. We will also delete the ones with a smaller number of rating than the threshold.

In [99]:
beers_advocate_clean = beers_advocate_clean[beers_advocate_clean['nbr_ratings'] > 0.5]
beers_matched_clean = beers_matched_clean[(beers_matched_clean['nbr_ratings'] > 0.5) | (beers_matched_clean['nbr_ratings.1']>0.5)]
beers_ratebeer_clean = beers_ratebeer_clean[beers_ratebeer_clean['nbr_ratings'] > 0.5]

In [100]:
#Save the nee files
beers_advocate_clean.to_csv(os.path.join(ADVOCATE_PATH,'beers_cleaned.csv'),index=False)
beers_matched_clean.to_csv(os.path.join(MATCHED_PATH,'beers_cleaned.csv'),index=False)
beers_ratebeer_clean.to_csv(os.path.join(RATEBEER_PATH,'beers_cleaned.csv'),index=False)

In [101]:
#Check files open correctely
pd.read_csv(os.path.join(ADVOCATE_PATH,'beers_cleaned.csv')).sample(5)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,abv,avg_computed,nbr_matched_valid_ratings
152394,290901,Snozzwired,41018,The Veil Brewing Co.,Milk / Sweet Stout,7,1,4.13,4.4,3.952857,0
150600,213647,Bringing Sexy Back,42560,Aslin Beer Company,American IPA,109,33,4.28,6.4,4.282018,0
146906,162242,Saison De Zoo,30789,Lucky Town Brewing Co.,Saison / Farmhouse Ale,3,1,3.96,5.9,3.903333,0
120577,123123,Epication,28226,Elevation Beer Co.,Saison / Farmhouse Ale,3,0,3.67,7.0,3.666667,0
104629,25005,Ommegeddon,42,Brewery Ommegang,American Wild Ale,556,432,3.88,8.0,3.879299,0

In [102]:
pd.read_csv(os.path.join(MATCHED_PATH,'beers_cleaned.csv')).sample(5)

,abv,avg,avg_computed,beer_id,beer_name,beer_wout_brewery_name,brewery_id,brewery_name,nbr_matched_valid_ratings,nbr_ratings,...,beer_name.1,beer_wout_brewery_name.1,brewery_id.1,brewery_name.1,nbr_matched_valid_ratings.1,nbr_ratings.1,style.1,zscore.1,diff,sim
36938,9.0,4.10,4.100000,271199,Rye Whiskey Aged Cherry Doppelbock,Whiskey Rye Doppelbock Cherry Aged,22564,Odd Side Ales,0,1,...,Odd Side Ales Rye Whiskey Aged Cherry Doppelbock,Whiskey Rye Doppelbock Cherry Aged,11793,Odd Side Ales,1,1,Doppelbock,0.364636,0.569564,1.0
31990,10.0,3.83,3.805203,60377,McNeill's Dark Angel Imperial Stout,Dark Angel Stout Imperial,100,McNeill's Brewery,76,123,...,McNeills Dark Angel Imperial Stout,Dark Angel Imperial Stout,1394,McNeills Brewery,131,131,Imperial Stout,0.445281,0.400190,1.0
16241,6.3,NaN,NaN,202758,Golden Ale,Golden Ale,26626,Pizza Orgasmica & Brewing Co.,0,0,...,Orgasmica Golden Ale,Golden Ale,6908,Pizza Orgasmica & Brewing Company,10,10,Cream Ale,-1.019230,0.638484,1.0
20588,5.7,4.00,4.017500,232449,Mocha Stout,Mocha Stout,42322,Bottomless Brewing,1,4,...,Bottomless Mocha Stout,Mocha Stout,31012,Bottomless Brewing Company,1,1,Sweet Stout,1.141301,1.000000,1.0
41809,6.0,3.05,3.067647,54682,Chuck's Pumpkin Ale,Pumpkin Ale Chucks,20998,Battered Boar Brewing Company,12,17,...,Battered Boar Chucks Pumpkin Ale,Pumpkin Ale Chucks,10823,Battered Boar Brewing Company,27,27,Spice/Herb/Vegetable,-0.290377,0.838492,1.0

In [103]:
pd.read_csv(os.path.join(RATEBEER_PATH,'beers_cleaned.csv')).sample(5)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,avg,abv,avg_computed,nbr_matched_valid_ratings
278196,414326,J. Wakefield Peaches & Cream,21629,J. Wakefield Brewing,Cream Ale,4,3.22,6.4,3.500000,4
261038,376239,Burial / 7venth Sun Hermit Saints Saison,16816,Burial Beer Company,Saison,10,3.52,5.5,3.740000,10
150068,39654,Arrogant Bastard Ale - Oaked,28443,Arrogant Brewing,American Strong Ale,2226,3.83,7.2,3.834546,0
95131,324829,Golser Blond Delight,12756,Pannonia Brauerei,Belgian Ale,4,3.23,4.8,3.525000,0
76565,438160,Cooltura IPA,28119,Cooltura,India Pale Ale (IPA),2,3.12,6.4,3.500000,0